@media all and (min-width: 480px) {

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 100px; /* Added */
  margin-top: 100px;
  padding: 15px;
}
  
    /* form {
      margin: 0 auto;
      max-width: 320px;
      margin-top: 80px;
    } */
    

   
    .bg-dark{
      background-color: #2699FB!important;
    }
    .pt-4, .py-4 {
      padding-top: 1.5rem!important;
      background-color: #2699FB!important;
      color: rgb(248, 249, 245);
  }
  
    .navbar-dark .navbar-nav .nav-link {
      color: #FFFFFF;
  }
}