@media all and (min-width: 480px) {
    .Login {
      padding: 30px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
      margin: 150px;
    }

   
    .bg-dark{
      background-color: #2699FB!important;
    }
    .pt-4, .py-4 {
      padding-top: 1.5rem!important;
      background-color: #2699FB!important;
      color: rgb(248, 249, 245);
  }
  
    .navbar-dark .navbar-nav .nav-link {
      color: #FFFFFF;
  }
  }
  