.signup{
        padding: 30px 0 !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important; 
        width: 100% !important;   
}



.signup form {
    width: 100%;
    flex-wrap: wrap;
    margin: 0,auto;
    max-width: 500px;
}

.pull-left{
    float: left !important;
    margin-right: 2%;
}
h2 {
    text-align: center;
    width: 100%;
    color: #111;
    margin-top: 80px;
   
}

label {
    font-size: 1em;
    margin-bottom: 0.25em;    
}

input, select{
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
}
.react-datepicker-wrapper input{
    width: 100%;
}

.width50{
    width:49%;
}
.width70{
    width:70%;
}
.ml2 {
    margin-left: 2%;
}
.mt20 {
    margin-top: 20px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.mb10{
    margin-bottom: 10px;
    border: outset;
    padding: 12px;
}

.contactnoInput::-webkit-inner-spin-button, 
.contactnoInput::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.contactno, .email{
    width: 70%;
}

.width100{
    width: 100%;
}


.createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vertical-center{
    margin: auto;
}
.h5, h5 {
    font-size: 1.50rem !important;
}

    .yourtrips .col-md-1,
    .yourtrips .col-sm-1,
    .yourtrips .col-lg-1 {
        max-width: 30.285714%;
        width: 28%;
        flex: 0 0 13.333333%;  
    }